<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/champion.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    <title>Shoes Shopping</title>
    
  </head>
  <body>
    <div id="nav"></div>
    <script>
      $("#nav").load("nav.html");
    </script>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card custom-card-28">
            <img src="../images/mercurial1.jpg" class="card-img-top" alt="Mercurial">
            <div class="card-body">
              <h5 class="card-title">Nike Mercurial</h5>
              <p class="card-text">Cost :4000₹</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card-28">
            <img src="../images/mercurial6.jpg" class="card-img-top" alt="Mercurial next gen">
            <div class="card-body">
              <h5 class="card-title">Nike Fantom X</h5>
              <p class="card-text">Cost :6000₹</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>

        <div class="col move-right">
          <div class="card custom-card-28">
            <img src="../images/mercurial3.jpg" class="card-img-top" alt="Mercurial HyperVenom">
            <div class="card-body">
              <h5 class="card-title">Nike HyperVenom</h5>
              <p class="card-text">Cost :7000₹</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row card-spacing-top">
        <div class="col card-container">
          <div class="card custom-card-28">
            <img src="../images/mercurial4.jpg" class="card-img-top" alt="Nike CR7 Edition">
            <div class="card-body">
              <h5 class="card-title">Nike Mercurial CR7 Edition</h5>
              <p class="card-text">Cost :8000₹</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>

          <div class="card custom-card-28 move-fifth-card">
            <img src="../images/mercurial7.jpg" class="card-img-top" alt="Nike Zoom">
            <div class="card-body">
              <h5 class="card-title">Nike Zoom 3</h5>
              <p class="card-text">Cost :7000₹</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>

        <div class="col card-container">
          <div class="card custom-card-28 move-sixth-card">
          <div class="card custom-card-28">
            <img src="../images/mercurial8.jpg" class="card-img-top" alt="Nike Superfly">
            <div class="card-body">
              <h5 class="card-title">Nike Superfly Edition 5</h5>
              <p class="card-text">Cost :8500₹</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
      </div>
    </div>
     <!-- Required JavaScript for Bootstrap -->
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
